body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #dfdfdf;
    color: #333;
}

header {
    background: #fff;
    padding: 20px;
    text-align: center;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

nav ul {
    list-style: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin: 0 15px;
}

nav ul li a::before, nav ul li a::after{
    content: '';
    border-bottom: 2px solid #353434;
    position: absolute;
    opacity: 0;
    transition: 0.4s;
}

nav ul li a::before {
    bottom: -5px;
    width: 90%;
    left: 0;

}

nav ul li a:hover:before{
    opacity: 1;
    width: 70%;
}

nav ul li a:hover:after{
    opacity: 1;
    width: 40%;

}

nav ul li a::after {
    bottom: -10px;
    width: 60%;
    right: 0;
}

nav ul li a {
    text-decoration: none;
    color: #333;
    position: relative;
}

main {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    padding-left: 15%;
    padding-right: 15%;
    background: #fff;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

section {
    margin-bottom: 20px;
}

h1, h2 {
    color: #222;
}

a {
    color: #007BFF;
}

.centered {
    text-align: center;
    margin-top: 50px;
}

.centered img {
    width: 350px;
    height: auto;
    border-radius: 8px;
}

.menu-container {
    display: flex;
    justify-content: center;
    margin: 40px 0;
}

.menu-item {
    text-align: center;
    margin: 0 30px;
}

.menu-item img {
    width: 300px;
    height: auto;
    display: block;
    margin-top: 10px;
    border-radius: 8px;
}