body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    text-align: center;
    background-color: #dfdfdf;
}

header {
    background-color: #333;
    color: white;
    padding: 1rem 0;
}

nav ul {
    list-style: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin: 0 15px;
}

nav ul li a::before, nav ul li a::after{
    content: '';
    border-bottom: 2px solid white;
    position: absolute;
    opacity: 0;
    transition: 0.4s;
}

nav ul li a::before {
    bottom: -5px;
    width: 90%;
    left: 0;

}

nav ul li a:hover:before{
    opacity: 1;
    width: 70%;
}

nav ul li a:hover:after{
    opacity: 1;
    width: 40%;

}

nav ul li a::after {
    bottom: -10px;
    width: 60%;
    right: 0;
}

nav ul li a {
    text-decoration: none;
    color: white;
    position: relative;
}

main {
    padding: 20px;
}

section {
    background: white;
    padding: 20px;
    padding-left: 90px;
    padding-right: 90px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    max-width: 800px;
    margin: auto;
}

img {
    max-width: 100%;
    height: auto;
    display: block;
    margin: 20px auto;
    border-radius: 5px;
}